.title-block
    .title-block__inner
        h1.main-title.title-block__title Разработка логотипов
        h2.second-title.title-block__second-title
            |грамотный символ, <br>
            |добавляет ценность вашему бренду.
        p.description.title-block__descriprion
            |Опыт в разработке логотипов: больше 20-ти лет — это больше лет чем существует PLATZKART.
            |Первый логотип был разработан в 1999 году для крупной сети канцелярских товаров, и с тех пор было сделано больше
            |сотни сиволов для компаний различной специализации.
    .logo-block.--logo
        .logo-block__bg
            img(src="img/bg-logodev-page.svg", alt="")
        .logo-block__img
            img(src="img/logo-mtz.svg", alt="")
