.nav-controls
    button(type="button" aria-label="Меню" aria-expanded="false" aria-controls="menu").nav-controls__button-menu.button-menu
        .button-menu__inner
    a(href="" aria-label="назад").nav-controls__button-back
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
            <path id="circle_arrow" d="M126,183.5A22.5,22.5,0,1,1,148.5,206,22.5,22.5,0,0,1,126,183.5Zm3.515,0A18.985,18.985,0,1,0,148.5,164.516,18.984,18.984,0,0,0,129.515,183.5Zm7.735,0,6.562-7.032,1.876,2.008-3.376,3.618H159.75v2.812H142.313l3.375,3.614-1.876,2.011Z" transform="translate(-126 -161)" fill="#ffea00"/>
        </svg>

        #line-link.line-link
            <svg class="line-link-svg" width="77.388" height="27.88" viewBox="0 0 77.388 27.88">
                <g transform="translate(-155.612 -178.12)">
                    <path  d="M1578.612,1391.363c54.142,0,32.241,24.237,74.2,24.237" transform="translate(-1423 -1212.744)" fill="none" stroke="#ffea00" stroke-width="1" opacity="0.998"/>
                    <circle id="circle-line" cx="3" cy="3" r="3" transform="translate(227 200)" fill="#ffea34"/>
                </g>
            </svg>

            //<svg class="line-link-svg" width="77.388" height="63.12" viewBox="0 0 77.388 63.12">
            //    <g id="line-link-svg-2" transform="translate(-155.612 -116)">
            //        <path d="M1578.612,1450.732c54.142,0,32.241-59.369,74.2-59.369" transform="translate(-1423 -1272.113)" fill="none" stroke="#ffea00" stroke-width="1" opacity="0.998"/>
            //        <circle cx="3" cy="3" r="3" transform="translate(227 116)" fill="#ffea34"/>
            //    </g>
            //</svg>

