.example-block
    h2.second-title.example-block__title примеры логотипов
    ol.example-list-logo
        li.example-list-logo__item 
            img(src="img/logo-example/logo-1.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-2.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-3.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-4.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-5.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-6.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-7.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-8.png", alt="")
        li.example-list-logo__item 
            img(src="img/logo-example/logo-9.png", alt="")