footer.main-footer
    <div class="feedback-form-wrapper">
        <section class="call-form">
            <h2 class="second-title">Обратный звонок:</h2>
            p.description
                | Оставьте свой телефон в форме ниже, и мы Вам перезвоним
                | для уточнения всех деталей.
            <form class="feedback-form" action="" method="post">
                <fieldset class="input-wrapper feedback-form__field">
                    <input class="feedback-form__input" autocomplete="off" id="form-name" type="text" value="" name="name">
                    <label class="feedback-form__label" for="form-name">Ваше Имя <sup>*</sup></label>
                    <span class="error_field">Укажите, пожалуйста, Ваше имя</span>
                </fieldset>
                <fieldset class="input-wrapper feedback-form__field">
                    <input class="feedback-form__input" autocomplete="off" id="form-phone" type="tel" value="" name="phone">
                    <label class="feedback-form__label" for="form-phone">Телефон<sup>*</sup></label>
                    <span class="error_field">Укажите, пожалуйста, Ваш телефон</span>
                </fieldset>
                <fieldset class="feedback-form__field over-message">
                    <textarea class="feedback-form__input feedback-form__input--textarea" id="form-message" rows="4" name="message"></textarea>
                    <label class="feedback-form__label" for="form-message">краткое описание задачи</label>
                    <span class="error_field">Опишите, пожалуйста, задачу</span>
                </fieldset>
                <div class="personal-data">
                    <label class="input-wrapper container-checkbox">
                        <input class="" id="input-checkbox" type="checkbox" name="checkbox" checked="" data-ignored>
                        <span class="checkmark"></span>
                    </label>
                    <a class="personal-data-href" id="cppd_link" href="#">Согласие на обработку персональных данных</a>
                </div>
                button(type="submit" class="feedback-form__btn" name="send" id="submit_btn") перезвоните мне поскорей
            </form>
        </section>
    </div>
