section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная
        | анимация и дизайн каждой страници как в модном журнале.
        <br>
        <br>
        | Разработка эффективного инструмента — основная задача.
    ol.getting-list.getting-block__list
        li.getting-list__item знак
        li.getting-list__item фирменный блок
        li.getting-list__item Уменьшиный вариант
        li.getting-list__item горизонтальное испонение
        li.getting-list__item вертикальное иполнение
        li.getting-list__item все векторные файлы
