head
  title Platzkart
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(name="HandheldFriendly" content="True")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  meta(name="description" content="PLATZKART")
  meta(name="keywords" content="")
  meta(name="author" content="")
  meta(name="copyright" content="")

  <!-- Open Graph -->
  meta(property="og:type" content="website")
  meta(property="og:title" content="PLATZKART")
  meta(property="og:site_name" content="")
  meta(property="og:url" content="")
  meta(property="og:description" content="")
  meta(property="og:image" content="img/poster.jpg")
  <!-- Twitter Card -->
  meta(name="twitter:card" content="app")
  meta(name="twitter:title" content="PLATZKART")
  meta(name="twitter:site" content="@")
  meta(name="twitter:description" content="")
  meta(name="twitter:app:country" content="")

  link(rel="preload" href="./fonts/OpenSans-Regular/OpenSans-Regular.woff2" crossorigin as="font" type="font/woff2")
  link(rel='stylesheet' type='text/css' href='css/app.css')
