main.page-wrapper.page-wrapper--keys
    .page-inner
        .controls-wrapper
            include block-page-menu.pug
        .content-container
            article.keys-article
            .container
                header.title-block
                    .title-block__inner
                        h1.main-title.title-block__title STEEL DOORS
                        a.second-title.second-title--link
                            | фирменный стиль
                section.keys-article__content
                    p.second-title задача
                    p.description
                        | На рынке с 2004 года: за это время выстроили отлаженную схему непрерывного технического процесса, основанную на коллективной компетенции большого штата профессионалов. Сейчас в команде более 10 специалистов. Не передаем задачи наших клиентов на аутсорсинг в другие фирмы, поэтому ручаемся за каждое


                    .keys-article__slider
                        .keys-slider.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    picture
                                        source(data-srcset="img/slide-1.jpg" media="(min-width: 1100px)").lazy.lazyload.keys-slider__img
                                        source(data-srcset="img/slide-1.jpg" media="(min-width: 1024px)").lazy.lazyload.keys-slider__img
                                        source(data-srcset="img/slide-1.jpg" media="(min-width: 768px)").lazy.lazyload.keys-slider__img
                                        source(data-srcset="img/slide-1.jpg" media="(min-width: 400px)").lazy.lazyload.keys-slider__img
                                        img(data-src="img/slide-1.jpg" alt="STEEL DOORS" title="STEEL DOORS").lazy.lazyload.keys-slider__img

                                .swiper-slide
                                    picture
                                        source(data-srcset="img/concept-img.jpg" media="(min-width: 1100px)").lazy.lazyload.keys-slider__img
                                        source(data-srcset="img/concept-img.jpg" media="(min-width: 1024px)").lazy.lazyload.keys-slider__img
                                        source(data-srcset="img/concept-img.jpg" media="(min-width: 768px)").lazy.lazyload.keys-slider__img
                                        source(data-srcset="img/concept-img.jpg" media="(min-width: 400px)").lazy.lazyload.keys-slider__img
                                        img(data-src="img/concept-img.jpg" alt="STEEL DOORS" title="STEEL DOORS").lazy.lazyload.keys-slider__img

                        .keys-slider__pagination.swiper-pagination

                    p.second-title ПРОЦЕСС РАЗРАБОТКИ ЛОГОТИПА
                    ol
                        li Исследование среды
                        li Поиск концепций (эскизы)
                        li Проработка полученых концепций
                        li Доработка результатов
                        li Выбор финального концепта

                    p.second-title 1. ИССЛЕДОВАНИЕ СРЕДЫ
                    p.description
                        | На первом этапе было проведено исследование существующих брендов,
                        br
                        | не только прямых конкурентов, но и компаний занятых
                        br
                        | в этой или смежной отрослях. Полученные логотипы сторонних компаний изучены,
                        br
                        | в результате чего была сформирована общая визуальная картина информационного поля.

                    p.second-title 2. ПОИСК КОНЦЕПЦИЙ
                    p.description
                        | Поиск будущего решения начинается с набросков.
                        br
                        | Эскиз — Это условный рисунок будущего знака.
                        br
                        | Такие изображения позволяют в быстрой манере получить большое колличество визуальных образов
                        br
                        | для дальнейшего развития и детальной прорисовки.
                        br
                        br
                        | Задача этого этапа получить 25–30 образов для начала работы.

                    picture
                        source(data-srcset="img/concept-img.jpg" media="(min-width: 1100px)").lazyload.keys-slider__img
                        source(data-srcset="img/concept-img.jpg" media="(min-width: 1024px)").lazyload.keys-slider__img
                        source(data-srcset="img/concept-img.jpg" media="(min-width: 768px)").lazyload.keys-slider__img
                        source(data-srcset="img/concept-img.jpg" media="(min-width: 400px)").lazyload.keys-slider__img
                        img(data-src="img/concept-img.jpg" alt="концепт лого STEEL DOORS" title="концепт лого STEEL DOORS").lazyload.lazy.keys-slider__img

                    p.second-title 3. ПРОРАБОТКА ПОЛУЧЕННЫХ КОНЦЕПЦИЙ
                    p.description
                        | Проработка — довольно трудоёмкий этап.
                        br
                        | На этой стадии более тщательно отрисовываются эскизы, появляются новые идеи
                        br
                        | и образы, которые так же прорабатываются и доводятся до логического завершения.
                        br
                        br
                        | В результате было получено порядка 70 вариантов будущего логотипа, из которых было отобрано 30 концептов для дальнейшей работы.

                    picture
                        source(data-srcset="img/concept-2.jpg" media="(min-width: 1100px)").lazyload.keys-slider__img
                        source(data-srcset="img/concept-2.jpg" media="(min-width: 1024px)").lazyload.keys-slider__img
                        source(data-srcset="img/concept-2.jpg" media="(min-width: 768px)").lazyload.keys-slider__img
                        source(data-srcset="img/concept-2.jpg" media="(min-width: 400px)").lazyload.keys-slider__img
                        img(data-src="img/concept-2.jpg" alt="концепт лого STEEL DOORS" title="концепт лого STEEL DOORS").lazyload.lazy.keys-slider__img

                    p.second-title 4. ПРОРАБОТКА ПОЛУЧЕННЫХ КОНЦЕПЦИЙ
                        p.description
                            | Проработка — довольно трудоёмкий этап.
                            br
                            | На этой стадии более тщательно отрисовываются эскизы, появляются новые идеи
                            br
                            | и образы, которые так же прорабатываются и доводятся до логического завершения.
                            br
                            br
                            | В результате было получено порядка 70 вариантов будущего логотипа, из которых было отобрано 30 концептов для дальнейшей работы.

                    p.second-title 5. ПРОРАБОТКА ПОЛУЧЕННЫХ КОНЦЕПЦИЙ
                        p.description
                            | Проработка — довольно трудоёмкий этап.
                            br
                            | На этой стадии более тщательно отрисовываются эскизы, появляются новые идеи
                            br
                            | и образы, которые так же прорабатываются и доводятся до логического завершения.
                            br
                            br
                            | В результате было получено порядка 70 вариантов будущего логотипа, из которых было отобрано 30 концептов для дальнейшей работы.
        .logo-wrapper
            include right-logo.pug
