#tnx-modal.modal.micromodal-slide.thnx-modal(aria-hidden="true")
    .modal__overlay(tabindex="-1" data-micromodal-close)
        .modal__container(role="dialog" aria-modal="true" aria-labelledby="tnx-modal")
            #tnx-modal-content.modal__content

                    p.thnx-modal__title Спасибо

                    p.thnx-modal__text
                        | Ваша заявка отправлена.
