.process-block
    h2.second-title.process-block__title процесс разработки логотипа
    p.description.description--width
        | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная
        | анимация и дизайн каждой страници как в модном журнале.
        <br>
        <br>
        | Разработка эффективного инструмента — основная задача.

    ol.process-block__list.process-list
        li.process-list__item
            span.item-title формулирование задачи
            p.item-description
                | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
                <br>
                <br>
                | Разработка эффективного инструмента — основная
        li.process-list__item
            span.item-title исследование среды
            p.item-description
                | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
                <br>
                <br>
                | Разработка эффективного инструмента — основная
        li.process-list__item
            span.item-title поиск концепций эскизы
            p.item-description
                | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
                <br>
                <br>
                | Разработка эффективного инструмента — основная
        li.process-list__item
            span.item-title проработка концепций
            p.item-description
                | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
                <br>
                <br>
                | Разработка эффективного инструмента — основная
        li.process-list__item
            span.item-title доработка результатов
            p.item-description
                | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
                <br>
                <br>
                | Разработка эффективного инструмента — основная
        li.process-list__item
            span.item-title проработка финального концепта
            p.item-description
                | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
                <br>
                <br>
                | Разработка эффективного инструмента — основная
    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 150 000
        | р
    p.description.description--width
        | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная
        | анимация и дизайн каждой страници как в модном журнале.
        <br>
        <br>
        | Разработка эффективного инструмента — основная задача.
