.services-block
    h2.second-title.services-block__title Услуги брендинга
    nav.services-block__nav
        ul.services-list.services-block__list
            li.services-list__item
                a(href="") нейминг
            li.services-list__item
                a(href="") фирменный стиль
            li.services-list__item
                a(href="") брендинг