main.page-wrapper.page-wrapper--services
    .page-inner
        .controls-wrapper
            include block-page-menu.pug
        .content-container
            .services-wrapper
                .container
                    .title-block
                        .title-block__inner
                            h1.main-title.title-block__title УСЛУГИ

                    nav.services-nav
                        ul.main-list-menu__sub-menu.sub-menu.sub-menu--services(data-sub-menu="service" aria-label="Услуги")

                            li.sub-menu__item
                                a(href="#").animate-item-menu-1 маркетинг

                                ul.sub-menu__inner-list.sub-menu__inner-list--marketing(aria-label="Маркетинг")
                                    li
                                        a(href="#").animate-item-menu исследования

                                        .line-svg.line-svg_submenu.line-marketing-1
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 169.516 78.606">
                                                <path d="M1577.091,1497.613c95.044,0,98.15-79.652,169.5-77.568" transform="translate(-1577.091 -1419.507)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 173.057 78.605")
                                                path(d="M1577.091,1497.612c97.029,0,100.2-79.651,173.043-77.567" transform="translate(-1577.091 -1419.507)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")

                                    li
                                        a(href="#").animate-item-menu рекламные стратегии

                                        .line-svg.line-svg_submenu.line-marketing-2
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 169.517 52.109">
                                                <path d="M1577.091,1471.117c96.038,0,97.4-53.25,169.5-51.046" transform="translate(-1577.091 -1419.508)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 173.058 52.109")
                                                path(d="M1577.091,1471.117c98.044,0,99.438-53.25,173.043-51.046" transform="translate(-1577.091 -1419.508)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")

                                    li
                                        a(href="#").animate-item-menu продвижение сайта

                                        .line-svg.line-svg_submenu.line-marketing-3
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 169.517 22.079">
                                                <path d="M1577.091,1441.089c95.7,0,97.66-23.141,169.5-20.937" transform="translate(-1577.091 -1419.511)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 173.058 22.079")
                                                path(d="M1577.091,1441.089c97.695,0,99.7-23.141,173.043-20.937" transform="translate(-1577.091 -1419.511)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")

                                    li
                                        a(href="#").animate-item-menu контекстаная реклама

                                        .line-svg.line-svg_submenu.line-marketing-4
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 169.51 12.387">
                                                <path d="M1577.091,1420c95.7,0,97.66,12.5,169.5,11.311" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 173.051 12.387")
                                                path(d="M1577.091,1420c97.695,0,99.7,12.5,173.043,11.311" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")


                            li.sub-menu__item
                                a(href="#").animate-item-menu-1 дизайн

                                ul.sub-menu__inner-list.sub-menu__inner-list--design(aria-label="Дизайн")
                                    li
                                        a(href="#").animate-item-menu нейминг

                                        .line-svg.line-svg_submenu.line-design-1
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 229.514 23.179">
                                                <path d="M1577.091,1420c129.57,0,132.229,24.346,229.5,22.027" transform="translate(-1577.091 -1419.504)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 238.582 23.176")
                                                path(d="M1577.091,1420c134.69,0,137.454,24.346,238.57,22.027" transform="translate(-1577.091 -1419.504)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")

                                    li
                                        a(href="#").animate-item-menu логотип

                                        .line-svg.line-svg_submenu.line-design-2
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 229.514 54.771">
                                                <path d="M1577.091,1420c130.033,0,131.882,56.024,229.5,53.705" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 238.582 54.772")
                                                path(d="M1577.091,1420c135.171,0,137.093,56.024,238.57,53.705" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")

                                    li
                                        a(href="#").animate-item-menu фирменный стиль

                                        .line-svg.line-svg_submenu.line-design-3
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 229.513 81.776">
                                                <path d="M1577.091,1420c128.687,0,132.893,82.9,229.5,80.736" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 238.581 81.776")
                                                path(d="M1577.091,1420c133.772,0,138.144,82.9,238.57,80.736" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")


                            li.sub-menu__item
                                a(href="#").animate-item-menu-1 разработка

                                ul.sub-menu__inner-list.sub-menu__inner-list--develop(aria-label="Разработка")
                                    li
                                        a(href="#").animate-item-menu сайты

                                        .line-svg.line-svg_submenu.line-develop-1
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 140.558 65.089">
                                                <path d="M1577.091,1420c79.323,0,80.951,70.359,140.5,63.659" transform="translate(-1577.091 -1419.504)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 124.408 65.091")
                                                path(d="M1577.091,1420c70.2,0,71.643,70.359,124.345,63.659" transform="translate(-1577.091 -1419.504)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")

                                    li
                                        a(href="#").animate-item-menu интернет магазины

                                        .line-svg.line-svg_submenu.line-develop-2
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 140.537 98.102">
                                                <path d="M1577.091,1420c79.607,0,80.738,101.169,140.5,96.982" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 123.03 98.103")
                                                path(d="M1577.091,1420c69.685,0,70.675,101.169,122.99,96.982" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")

                                    li
                                        a(href="#").animate-item-menu техническая поддержка

                                        .line-svg.line-svg_submenu.line-develop-3
                                            <svg class="menu-svg-2" width="100%" height="100%" viewBox="0 0 140.532 135.228">
                                                <path d="M1577.091,1420c78.783,0,81.357,137.766,140.5,134.162" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998"/>
                                            </svg>

                                            //svg(class="menu-svg-2" width="100%" height="100%" viewBox="0 0 126.992 135.227")
                                                path(d="M1577.091,1420c71.188,0,73.515,137.765,126.958,134.161" transform="translate(-1577.091 -1419.505)" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="2" opacity="0.998")


        .logo-wrapper
            include right-logo.pug
        #rain.rain
