.keys-article {

  h2 {
    margin-bottom: 20px;
    font-family: OpenSans, sans-serif;
    font-weight: 300;
    font-size: rem(36px);
    text-transform: uppercase;

    @media screen and (max-width: 1400px) {
      font-size: calc(3.125vw - 8px);
    }

    @media screen and (max-width: 1024px) {
      font-size: 23px;
    }

    @media screen and (max-width: 560px) {
      font-size: 20px;
    }
  }

  p {
    margin-bottom: 50px;
    font-weight: 300;

    &:empty {
      display: none;
    }
  }

  ul,
  ol {
    margin-bottom: 30px;
    font-weight: 300;
  }

  ul.dash {
    li {
      &:before {
        content: "-";
        margin-right: 10px;
      }
    }
  }

  ol {
    padding-left: 20px;
    list-style: decimal;
  }

  a {
    color: var(--mainYellowColor);
  }

  img {
    margin: auto;
  }

  img,
  picture {
    + p,
    .second-title {
      margin-top: 40px !important;
    }

    + .over-video.bg {
      margin-top: 40px;
    }
  }

  picture {
    display: block;

    + picture {
      margin-top: 5px;
    }

    + .keys-article__slider {
      margin-top: 50px;
    }
  }

  a {
    color: var(--mainYellowColor);
  }

  &__content {
    //max-width: 860px;
    //width: 100%;
    padding-top: 30px;
  }


  &__slider {
    position: relative;

    .swiper-pagination-bullet {
      background-color: #ffffff;

      &:not(:first-of-type) {
        margin-left: 5px;
      }
    }
  }

  .second-title {
    margin-bottom: 10px;

    @media screen and (max-width: 560px) {
      margin-top: 0;
    }
  }

  .description {
    margin-bottom: 35px;
  }
}


.keys-slider {
  margin-bottom: 40px;

  &__pagination {
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
  }

  &__btn {
    height: 48px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #061c22;
  }
}
