.title-block
    .title-block__inner
        h1.main-title.title-block__title НЕЙМИНГ
        h2.second-title.title-block__second-title
            |Название для вашего бизнеса
        p.description.title-block__descriprion
            |Придумать хорошее название компании невозможно по наитию и просто посоветовавшись с друзьями. Нейминг – это целый комплекс аналитических и креативных работ. Чтобы создать точное и запоминающееся имя, мы тщательно анализируем бизнес клиента, сегмент рынка и названия конкурентов, изучаем потребителей, исследуем их мотивы и ценности. Название компании играет ключевую роль в дальнейшей маркетинговой политике и вообще жизни фирмы. Поэтому ставки так высоки.

    .logo-block.logo-block--naming
        .logo-block__bg
            img(src="img/naming-bg.svg", alt="")
        .logo-block__img
            img(src="img/namin-img.svg", alt="")
