.example-block
    h2.second-title.example-block__title примеры названий
    .example-slider-logo__wrapper
        .example-slider-wrapper
            .example-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/БАРИСТОТЕЛЬ.png", alt="")
                    .swiper-slide
                        img(src="img/Пивная~колода.png", alt="")
                    .swiper-slide
                        img(src="img/calcaneus.png", alt="")
                    .swiper-slide
                        img(src="img/NUMENART.png", alt="")
            .swiper-button-prev
            .swiper-button-next

        .example-slider-wrapper
            .example-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/calcaneus.png", alt="")
                    .swiper-slide
                        img(src="img/Пивная~колода.png", alt="")
                    .swiper-slide
                        img(src="img/БАРИСТОТЕЛЬ.png", alt="")
                    .swiper-slide
                        img(src="img/NUMENART.png", alt="")

            .swiper-button-prev
            .swiper-button-next

        .example-slider-wrapper
            .example-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/NUMENART.png", alt="")
                    .swiper-slide
                        img(src="img/Пивная~колода.png", alt="")
                    .swiper-slide
                        img(src="img/calcaneus.png", alt="")
                    .swiper-slide
                        img(src="img/БАРИСТОТЕЛЬ.png", alt="")

            .swiper-button-prev
            .swiper-button-next

        .example-slider-wrapper
            .example-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/Пивная~колода.png", alt="")
                    .swiper-slide
                        img(src="img/calcaneus.png", alt="")
                    
                    .swiper-slide
                        img(src="img/БАРИСТОТЕЛЬ.png", alt="")

                    .swiper-slide
                        img(src="img/NUMENART.png", alt="")
            .swiper-button-prev
            .swiper-button-next

        .example-slider-wrapper
            .example-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/calcaneus.png", alt="")
                    .swiper-slide
                        img(src="img/БАРИСТОТЕЛЬ.png", alt="")
                    .swiper-slide
                        img(src="img/Пивная~колода.png", alt="")
                    .swiper-slide
                        img(src="img/NUMENART.png", alt="")
            .swiper-button-prev
            .swiper-button-next