section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        | Заказчик  получает готовую методичку по&nbsp;неймингу с&nbsp;разными вариантами. Это позволяет совершить правильный выбор.
    ol.getting-list.getting-block__list
        li.getting-list__item Иссдедование в&nbsp;pdf документе
        li.getting-list__item Несколько вариантов
        li.getting-list__item Наше видение и&nbsp;рекомендации
