.process-block
    h2.second-title.process-block__title Сделаем вам имя, которое:
    .description.description--width
        ul
            li будет оригинальным и самобытным
            li создаст чёткую картину в сознании потребителя
            li принесёт  успех
    h2.second-title.process-block__title Как мы создаём название?
    p.description Работаем в 4 этапа:
    ol.process-block__list.process-list.process-list--two-col
        li.process-list__item
            span.item-title
                |МАРКЕТИНГОВОЕ
                br
                |ИССЛЕДОВАНИЕ
            p.item-description
                |Проводим маркетинговое исследование,
                |чтобы правильно понять как общую ситуацию,
                |так и её нюансы.

        li.process-list__item
            span.item-title
                |креативный
                br
                |процесс
            p.item-description
                | С помощью различных лингвистических методик и собственной креативной силы придумываем несколько названий.

        li.process-list__item
            span.item-title
                |Проработка
                br
                |вариантов
            p.item-description
                | Подробно объясняем клиенту концепцию каждого имени, даём рекомендации по их использованию. Кроме того, объясняем весь путь придумывания названий.

        li.process-list__item
            span.item-title
                |Составление
                br
                |документа
            p.item-description
                | Это всеобъемлющий документ, который содержит исследование, все варианты, пояснения и рекомендации.

    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 50 000
        | р
    p.description.description--width
        | Цена нейминга согласовывается во время обсуждения технического задания.
