.title-block
    .title-block__inner
        h1.main-title.title-block__title
            |ТЕХНИЧЕСКАЯ
            br
            |ПОДДЕРЖКА
        h2.second-title.title-block__second-title
            |САЙТ ЕСТЬ! КУДА ДАЛЬШЕ?
        p.description.title-block__descriprion
            |Вы создали сайт и наполнили его хорошим контентом. Что делать дальше?

    .logo-block.logo-block--tech-sup
        .logo-block__bg
            img(src="img/tech-sup-bg.svg", alt="")
