section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        |Вашим клиентам будет ещё приятнее пользоваться сайтом: страницы грузятся быстрее, не случаются перегрузки и сбои. PLATZKART возьмёт на себя все технические моменты. Интересно? Тогда договариваемся о встрече.

    ol.getting-list.getting-block__list
        li.getting-list__item
            |быструю
            br
            |работу сайта

        li.getting-list__item
            |оперативный
            br
            |мониторинг

        li.getting-list__item
            |молниеносную
            br
            |реакцию
