.process-block
    h2.second-title.process-block__title
        |БЕСПЕРЕБОЙНАЯ РАБОТА
    p.description.description--width
        |Не бросайте начатое на половине пути! Чтобы ресурс был эффективным и привлекал клиентов, ему нужна постоянная техническая поддержка. Необходимо не только обновлять информацию о товарах, услугах и акциях, важно позаботиться о безопасности и скорости работы сайта.
        br
        br
        |С техподдержкой PLATZKART ваш ресурс будет работать без перерывов: днём и ночью, в любой день недели и при любой нагрузке. Мы защитим его от вирусов, DDos-атак и настроим резервное копированием данных по расписанию. Полная безопасность, высокая скорость работы.


    h2.second-title.process-block__title Что делаем

    ol.process-block__list.process-list.process-list--one-col
        li.process-list__item
            span.item-title
                |ТЕХНИЧЕСКИЙ
                br
                |АУДИТ
            p.item-description
                |Аудируем сайт и определяем объем предстоящих работ.
                br
                |Ничего лишнего — только важные и эффективные доработки.


        li.process-list__item
            span.item-title
                |РАЗМЕЩЕНИЕ
                br
                |И&nbsp;НАСТРОЙКА
            p.item-description
                |Размещаем сайт на наших серверных мощностях. Настраиваем, исправляем ошибки согласно аудиту. Ставим сайт на круглосуточный мониторинг и подключаем к системе автоматического резервного копирования.

    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 50 000 000
        | р
    p.description.description--width
        | Окончательная стоимость зависимости от
