.title-block
    .title-block__inner
        h1.main-title.title-block__title
            |контекстная
            br
            |реклама
        h2.second-title.title-block__second-title
            |необходимый инструмент
        p.description.title-block__descriprion
            |Контекстная реклама давно на слуху у владельцев бизнеса, но что делать, если вы вкладываете в неё деньги, а результата нет? Да и как понять, что новые клиенты пришли именно из этой рекламы?

    .logo-block.logo-block--context-adv
        .logo-block__img
            img(src="img/context-adv-img.svg", alt="")
