section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        |Контекстная реклама гораздо более эффективна, чем остальные платные виды рекламы в интернете. С PLATZKART вы это почувствуете.

    ol.getting-list.getting-block__list
        li.getting-list__item
            |ЦЕЛЕВОЙ
            br
            |ТРАФИК КЛИЕНТОВ
            br
            |ИЗ&nbsp;ИНТЕРНЕТА

        li.getting-list__item
            |ПОЛНЫЙ КОНТРОЛЬ
            br
            |НАД&nbsp;РЕКЛАМНОЙ
            br
            |КАМПАНИЕЙ

        li.getting-list__item
            |ПОСТОЯННАЯ
            br
            |ОПТИМИЗАЦИЯ
            br
            |БЮДЖЕТА
