.process-block
    h2.second-title.process-block__title
        |Что могло пойти не так?
    .description.description--width
        p
            |Если вы задаетесь этими вопросами, значит вам пора обратиться к PLATZKART. Мы занимаемся настройкой контекстной рекламы, используя грамотную аналитику. Это позволяет привлекать на ваш сайт только заинтересованную аудиторию и снижать стоимость заявок и кликов. На сэкономленные деньги мы привлечём ещё больше клиентов. Процесс и результаты работы будут не только видимыми, но и понятными для вас.


    h2.second-title.process-block__title Вот, что мы делаем:

    ol.process-block__list.process-list.process-list--two-col
        li.process-list__item
            span.item-title
                |СТРАТЕГИЯ ЭЛЕКТРОННОГО
                br
                |МАРКЕТИНГА
            p.item-description
                |Рекомендуем разработать стратегию электронного маркетинга. Нет смысла настраивать рекламную кампанию без тщательного исследования работы.

        li.process-list__item
            span.item-title
                |НАСТРОЙКА
                br
                |КАМПАНИИ
            p.item-description
                |На основе разработанной стратегии электронного маркетинга настраиваем рекламную кампанию.

        li.process-list__item
            span.item-title
                |АНАЛИТИКА
                br
                |И ОТЧЁТНОСТЬ
            p.item-description
                |Настраиваем сквозную аналитику и цели, делаем систему онлайн-отчётности.

        li.process-list__item
            span.item-title
                |АУДИТ ДЕЙСТВУЮЩЕЙ
                br
                |РЕКЛАМНОЙ КАМПАНИИ
            p.item-description
                |Иногда делаем аудит действующей рекламной компании клиента и настройку, исходя из наших знаний и вводных. Но в очень редких случаях.

    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 50 000
        | р
    p.description.description--width
        |Окончательная стоимость зависимости от конкурентной среды, географии продвижения и ниши продвигаемых товаров.
