.title-block
    .title-block__inner
        h1.main-title.title-block__title
            |раскрутка
            br
            |и&nbsp;продвижение
            br
            |саита
        h2.second-title.title-block__second-title
            |топовые места нужны всем
        p.description.title-block__descriprion
            |SEO (Search Engine Optimization, поисковая оптимизация) — это комплексное развитие и продвижение сайта с целью его попадания на первые позиции в выдаче поисковых систем.

    .logo-block.logo-block--seo
        .logo-block__img
            img(src="img/seo-img.svg", alt="")
