.example-block
    h2.second-title.example-block__title пример продвижения

    ul.example-common-list(aria-label="примеры работ")
        li.example-common-list__item
           a(href="") пример
        li.example-common-list__item
            a(href="") пример
        li.example-common-list__item
            a(href="") пример
