section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        | SEO нового времени должно работать для людей, а не для поисковых роботов, только так можно достигнуть больших высот. Мы понимаем принципы продаж и постоянно анализируем ситуацию на рынке, поэтому никогда не работаем наугад. С нами — каждый рубль клиента, вложенный в SEO, это не траты, а инвестиции в собственный бизнес, которые дадут свои дивиденды в ближайшее время.

    ol.getting-list.getting-block__list
        li.getting-list__item
            |Комплексное
            br
            |продвижение

        li.getting-list__item
            |Хорошие позиции
            br
            |в&nbsp;выдачи

        li.getting-list__item
            |Постоянный приток
            br
            |пользователей
