.process-block
    h2.second-title.process-block__title
        |нужно ли SEO для вашего сайта?
    .description.description--width
        p
            |К SEO можно относиться по-разному, каждый год эта методика сильно меняется, но факт остаётся: ни один сайт не сможет выжить в джунглях интернета, полных конкурентов, без поисковой оптимизации. Без SEO ресурс упадёт мёртвым грузом далеко не на первой странице поисковиков, пока соперники будут собирать весь целевой трафик на вершинах Яндекса и Google.
            br
            br
            strong Поисковая оптимизация
            |— базовая необходимость для бизнеса XXI века.
            br
            br
            |Так как диджитал-рынок быстро развивается и постоянно видоизменяется, сегодня SEO-специалист, который автоматически пользуется старыми методиками (эффективными ещё пару лет назад), не сможет помочь бизнесу: сайт будет падать, а не расти в поисковиках, его даже могут там забанить. Чтобы не потратить деньги на ветер и не навредить своей компании, к SEO нужно подходить структурно и комплексно, опираясь на законы маркетинга, программирования и дизайна. Именно так мы подходим к этой работе.


    h2.second-title.process-block__title Что делаем

    ol.process-block__list.process-list.process-list--two-col
        li.process-list__item
            span.item-title
                | SEO АУДИТ
                br
                |САЙТА
            p.item-description
                |Проводим SEO–аудит сайта.

        li.process-list__item
            span.item-title
                |Комплексное
                br
                |продвижение
            p.item-description
                |Запускаем комплексное продвижение: оптимизируем сайт, расширяем семантику, исправляем ошибки, разрабатываем семантическое ядро, увеличиваем скорость работы ресурса.

        li.process-list__item
            span.item-title
                |Качественные
                br
                |seo–тексты
            p.item-description
                | Создаём качественные SEO-тексты, которые, во-первых, интересно читать людям, во-вторых, они несут эффективные ключи для повышения выдачи на поисковых сайтах.

        li.process-list__item
            span.item-title
                |Раскрутка
                br
                |сайта
            p.item-description
                |Раскручиваем сайт с помощью ссылок, комментариев на внешних ресурсах, упоминаний, каталогов и других эффективных механизмов.

    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 30 000
        | р
    p.description.description--width
        | Окончательная стоимость зависимости от конкурентной среды, географии продвижения и ниши продвигаемых товаров.
