.title-block
    .title-block__inner
        h1.main-title.title-block__title
            |РАЗРАБОТКА
            br
            |САИТА
        h2.second-title.title-block__second-title
            |ДОЛГА, ТА И НУ ЕГО НАХУЙ
        p.description.title-block__descriprion
            |Сайт  — это один из самых перспективных инструментов продаж. Он нужен не только для того, чтобы ваш бизнес был представлен широкой аудитории в интернете. Правильно сделанный ресурс привлекает и увеличивает поток ваших клиентов. С его помощью можно сделать покупку товаров и услуг более удобной. А если вы упрощаете жизнь покупателя, он обязательно вернётся, ещё и посоветует вас друзьям.

    .logo-block.logo-block--site-dev
        .logo-block__bg
            img(src="img/site-dev-bg.svg", alt="")
