section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        |Сайт естественно, а что же ещё??

    ol.getting-list.getting-block__list
        li.getting-list__item
            |не вьебацца
            br
            |долгую
            br
            |разработку

        li.getting-list__item
            |Новый
            br
            |сайт

        li.getting-list__item
            |лучше старых
            br
            |двух
