.process-block
    h2.second-title.process-block__title
        |ОТЗЫВЫ — НАШЕ ВСЁ
    .description.description--width
        p
            |Вы можете не только рассказывать о том, как купить товар. Сайт станет площадкой для популяризации бренда, если подойти к нему ответственно и творчески. Кроме того, вы сможете узнать о том, как вас видят клиенты. Для этого можно сделать на ресурсе возможность оставить отзыв или перейти на ваши аккаунты в социальных сетях. Сайт — это инвестиция в будущее компании, а не лишняя трата средств. Он будет приносить деньги, если сделать его с умом.


    h2.second-title.process-block__title КЭП РЕКОМЕНДУЕТ
    p.description.description--width Если у вас есть сайт, но никакой пользы он не приносит, значит с ним что-то не так. Скорее всего, с ним всё не так. И с технической точки зрения, и с точки зрения контента, дизайна, продвижения и так далее.

    h2.second-title.process-block__title Как мы будем работать:

    ol.process-block__list.process-list.process-list--two-col
        li.process-list__item
            span.item-title
                |РАЗРАБОТАЕМ
                br
                |САЙТ
            p.item-description
                |А хуле нет?  Даже если он у вас уже есть, создаём новый. Опираясь на маркетинговые исследования и семантическое ядро, мы делаем  рабочий и эффективный ресурс, адаптированный под SEO, если стояла такая задача.

        li.process-list__item
            span.item-title
                |ничё
                br
                |не&nbsp;пиределуэм
            p.item-description
                |Мы крайне редко берёмся переделывать имеющиеся сайты. Чаще всего это не имеет смысла и оказывается пустой тратой денег и сил. Уот так уот.

        li.process-list__item
            span.item-title
                |Начни с нуля
                br
                |И&nbsp;рефакторь!
            p.item-description
                |Созданный с нуля сайт мы делаем красивым, быстро работающим, хорошо адаптированным к различным устройствам. Он будет и радовать взор, и выполнять главную поставленную задачу — привлекать клиентов и приносить прибыль. Не то что ваш старый и говёный сайт

        li.process-list__item
            span.item-title
                |А тут профит,
                br
                |естественно!
            p.item-description
                |Сайт от PLATZKART станет новой главой в жизни вашего бизнеса. Он будет виртуальной визитной карточкой и круглосуточным офисом.

    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 500 000 000
        | р
    p.description.description--width
        |Окончательная стоимость зависит
