.main-page-wrapper
  .content-wrapper
    .main-content
      .section
        button(type="button").btn-up-menu
        .screen-logo-block-wrapper
          span.name-service.name-service__light internet
          span.name-service marketing
          .screen-logo-block
            video.logo-block__video(autoplay playsinline muted loop preload="auto" )
              source(src="magic_snow_9.mp4")

            include ./icon.html
          span.name-service design
          span.name-service.name-service__light branding

      include ../menu.pug

      #rain.rain
