.title-block
    .title-block__inner
        h1.main-title.title-block__title
            |Стратегия
            br
            |электронного
            br
            |маркетинга
        h2.second-title.title-block__second-title
            |как привлечь клиентов в интернете?
        p.description.title-block__descriprion
            |Стратегия электронного маркетинга — это фундамент успешной рекламной кампании в интернете. Дом без фундамента рухнет. Полководец без военной тактики проиграет. Рекламная кампания без стратегии не даст ощутимых результатов.

    .logo-block.logo-block--strategy
        .logo-block__img
            img(src="img/strategy-img.svg", alt="")
