section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        | В итоге вы получаете грамотно разработанную и настроенную стратегию электронного маркетинга от PLATZKART, которая вас не подведёт. Да здравствует продуктивное продвижение бизнеса!

    ol.getting-list.getting-block__list
        li.getting-list__item
            |превличение
            br
            |новых клиентов

        li.getting-list__item
            |развёрнутую
            br
            |отчётность

        li.getting-list__item
            |оптимизацию
            br
            |расходов
