.process-block
    h2.second-title.process-block__title
        |Как мы разрабатываем стратегию
        br
        |электронного маркетинга
    .description.description--width
        p
            |Чтобы разработать и сформировать стратегию продвижения, нужно провести большую аналитическую работу. Изучить ваш бизнес от и до, определить, кто ваши клиенты и что нужно делать для продвижения. Затем требуется подсчитать, сколько денег тратить на привлечение и удержание клиентов. Приблизительно вычислить, сколько прибыли можно в итоге получить.
            br
            br
            |Задача должна быть поставлена в определённые временные рамки: важно обозначить срок начала и конца работы, за который нужно достичь результата. И, конечно, каждое маркетинговое действие нужно проанализировать на целесообразность, чтобы не переборщить и не ошибиться.
            br
            br
            |Мы стараемся не браться за ведение рекламной кампании без разработки стратегии электронного маркетинга. Это равносильно открытию бизнеса вслепую, без предварительных расчетов. Вы бы ведь так не поступили?


    h2.second-title.process-block__title Что делаем

    ol.process-block__list.process-list.process-list--one-col
        li.process-list__item
            span.item-title
                |РАЗРАБОТКА
                br
                |СТРАТЕГИИ
            p.item-description
                |Разрабатываем стратегию электронного маркетинга. Внимательно, кропотливо учитываем особенности бизнеса, изучаем конкурентов и клиентов, расставляем задачи и обозначаем ресурсы, которые необходимо пустить в дело: деньги, время, силы. Когда все данные собраны, анализируем все возможные пути достижения бизнес-целей. Выбираем лучшие решения, обсуждаем с заказчиком и дорабатываем.

        li.process-list__item
            span.item-title
                |ПОШАГОВАЯ
                br
                |ИНСТРУКЦИЯ
            p.item-description
                |Досконально и пошагово расписываем стратегию действий.

        li.process-list__item
            span.item-title
                |НАСТРОЙКА
                br
                |ЦЕЛЕЙ
            p.item-description
                | Точечно настраиваем все необходимые цели.

        li.process-list__item
            span.item-title
                |РАЗВЁРНУТАЯ
                br
                |ОТЧЁТНОСТЬ
            p.item-description
                |Создаём онлайн-отчётность, которая обновляется каждый день.

        li.process-list__item
            span.item-title
                |ОПТИМИЗАЦИЯ
                br
                |РАСХОДОВ
            p.item-description
                |Работаем над снижением стоимости привлечения потенциальных клиентов, а также над повышением их качества.

    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 50 000
        | р
    p.description.description--width
        | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
        br
        |Разработка эффективного инструмента — основная задача.
