.title-block
    .title-block__inner
        h1.main-title.title-block__title
            |маркетинговое
            br
            |исследование
        h2.second-title.title-block__second-title
            |оценка и прогнозирование
        p.description.title-block__descriprion
            |Любому бизнесу хочется и даже надо в интернет, но без профессиональной поддержки  эффективно войти в этот мир и продержаться в нём — практически невозможно. Прежде чем взяться за любой проект, мы тщательно изучаем все данные, которые находятся в сфере компании клиента: сегмент рынка, конкурентов, их стратегии поведения, целевые аудитории, маркетинговые мощности и рекламную политику.

    .logo-block.logo-block--market-explore
        .logo-block__bg
            img(src="img/market-explore-bg.svg", alt="маркетинговое исследование")
