section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        | Вы получаете готовые сценарии развития и беспроигрышные варианты решения задач, расписанные по ходам. Поэтому настоящее маркетинговое исследование не блажь, а необходимый шаг в сторону улучшения своего дела. По сути, это научная работа о вашей компании ради её блага.

    ol.getting-list.getting-block__list
        li.getting-list__item
            |Исследование
            br
            |текущей ситуации
            br
            |в вашей нише

        li.getting-list__item
            |Рекомендации
            br
            |по дальнейшим
            br
            |действиям

        li.getting-list__item
            |прогноз
            br
            |по выбранным
            br
            |стратегиям
