.process-block
    h2.second-title.process-block__title Что такое маркетинговое исследование?

    .description.description--width
        p Чтобы не делать ошибок и ненужных, затратных действий, надо объективно понимать ситуацию, в которой находишься. Например, бывает так, что клиент приходит к нам с одной задачей, а после глубокого аудита становится понятно, что бизнесу нужно совсем иное решение, которое впоследствии обогатит и преобразует компанию.

    h2.second-title.process-block__title Что входит в исследование

    ol.process-block__list.process-list
        li.process-list__item
            span.item-title
                |собираем
                br
                |И анализируем
            p.item-description
                |Сбор информации о бизнесе клиента и сегменте рынка: анализируем полученные данные, чтобы понять общее положение дел и найти то, что пока скрывается от остальных.

        li.process-list__item
            span.item-title
                |ИССЛЕДОВАНИЕ
                br
                |конкурентов
            p.item-description
                |Поиск и анализ конкурентов: выявление их слабых и сильных сторон, чтобы победить оппонента — его надо хорошо и незаметно изучить.

        li.process-list__item
            span.item-title
                |ПОИСК целевой
                br
                |аудитории
            p.item-description
                | Исследование поведения целевых аудиторий, обнаружение незакрытых потребностей потребителей: иногда думаешь,что знаешь свою аудиторию, но проходит всего год, и люди меняются. Возможно, уже выросла ца, о которой ещё неизвестно компании.

        li.process-list__item
            span.item-title
                |оформление
                br
                |результатов
            p.item-description
                |Доступное изложение обработанной информации: понятно и красочно презентуем, что узнали и как надо действовать.

        li.process-list__item
            span.item-title
                |рекомендации
                br
                |и предложения
            p.item-description
                |Предложение нескольких перспективных вариантов развития: рассказываем конкретно и гарантированно, что надо делать, чтобы получить тот или иной результат.

        li.process-list__item
            span.item-title
                |прогнозирование
                br
                |результатов
            p.item-description
                |Тактический прогноз, рассчитанный на реальных данных: объясняем, что будет с вашим бизнесом через месяц или год, если пойти по выбранным стратегиям.

    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 50 000
        | р
    p.description.description--width
        | Сложный сайт с закрытой зоной, автоматическим формированием документов и видео хостингом, или нестандартная анимация и дизайн каждой страници как в модном журнале.
        br
        |Разработка эффективного инструмента — основная задача.
