.title-block
    .title-block__inner
        h1.main-title.title-block__title
            |Фирменный
            br
            |стиль
        h2.second-title.title-block__second-title
            |Единообразие представления бренда
        p.description.title-block__descriprion
            |Опыт в разработке логотипов: больше 20-ти лет — это больше лет чем существует PLATZKART. Первый логотип был разработан в 1999 году для крупной сети канцелярских товаров, и с тех пор было сделано больше сотни сиволов для компаний различной специализации.

    .logo-block.logo-block--form-style
        .logo-block__bg
            img(src="img/form-style-bg.svg", alt="")
        .logo-block__img
            img(src="img/form-style-img.svg", alt="")
