section.getting-block
    h2.second-title.getting-block__title что вы получаете
    p.description.description--width
        | Презентуем фирменный стиль клиенту.
        br
        |Подробно рассказываем и показываем готовый к применению продукт, в состав которого входят:

    ol.getting-list.getting-block__list
        li.getting-list__item
            |Готовый набор
            br
            |брендирования
        li.getting-list__item
            |Правила
            br
            |использования
        li.getting-list__item
            |Подробное описание
            br
            |элементов
        li.getting-list__item
            |оформленный
            br
            |брендбук
        li.getting-list__item
            | Все файлы
            br
            |для типографий
        li.getting-list__item
            | консультации
            br
            |при изготовлении
