main.page-wrapper
  .page-inner
    .controls-wrapper
      include ../block-page-menu.pug
    .content-container
      .container
        include ./banner.pug
        include ./process.pug
        include ./getting.pug
    .logo-wrapper
      include ../right-logo.pug
