.process-block
    h2.second-title.process-block__title Что такое фирменный стиль?
    .description.description--width
        p Фирменный стиль — это всё, что строится вокруг логотипа: от бланков на документах до одежды сотрудников. У него две принципиально важные функции: обеспечивать смысловое единство внутри компании и выделять её среди конкурентов. Хороший корпоративный стиль делает продукцию фирмы узнаваемой, обосновывает её преимущества и усиливает рекламный эффект. Он должен иметь качественную смысловую и эмоциональную нагрузку.
    h2.second-title.process-block__title как мы разрабатываем фирменный стиль?

    p.description Мы создаём фирменный стиль для своих клиентов поэтапно:

    ol.process-block__list.process-list.process-list--one-col
        li.process-list__item
            span.item-title
                |ФОРМУЛИРОВАНИЕ
                br
                |ЗАДАЧИ
            p.item-description
                |Подробно изучаем информацию о компании, знакомимся со стратегиями конкурентов.Обсуждаем с заказчиком количество элементов, которые войдут в фирстиль или брендбук. Начинаем креативную работу.

        li.process-list__item
            span.item-title
                |ПОИСК
                br
                |РЕШЕНИЙ
            p.item-description
                |Ищем цветовые решения, подбираем шрифты и формы. Создаём множество эскизов, из которых выбираем лучшие. Обсуждаем их и дорабатываем. В итоге мы останавливаемся на самом аутентичном решении для бизнеса, оригинальном и выполняющем все необходимые задачи.

        li.process-list__item
            span.item-title
                |ИТОГОВЫЙ
                br
                |ПРОДУКТ
            p.item-description
                | В конце этого этапа у нас уже готовы:
                br
                |— фирменный бланк факса;
                br
                |— бланк письма;
                br
                |— фирменные конверты;
                br
                |— визитки;
                br
                |— правила дизайна рекламы в печатной продукции с примером;
                br
                |— правила дизайна наружной рекламы с примером (билборд 3×6);
                br
                |— фирменную одежду;
                br
                |— макет оформления корпоративного автотранспорта;
                br
                |— правила использования в сувенирной продукции и т. д.


    h2.second-title.process-block__title стоимость работ от
        span.yellow-text 150 000
        | р
    p.description.description--width
        | Стоимость зависит от количества элементов и формируется индивидуально.
